@charset "UTF-8";
/* 바탕색을 노랑색 */
body{
	background-color : #008040;	
}
div#abc{
	border:3px solid #ff0000;
	padding:20px;
	width:300px;
	height:200px;
	margin:20px auto;
	box-sizing:border-box;
}
/* box-sizing: 패딩에 의해서 전체 크기가 커지지 않도록 한다. */