@charset "UTF-8";
body{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

main>.main_title{
	font-size:25pt;
	font-weight:bolder;
	text-align:center;
}
main>form{
	width:320px;
	background-color:#ccc;
	border-radius:10px;
	padding:20px;
}
form>span{
	display:inline-block;
	width:65px;
}
form>input[name=id]{
	width:100px;
}
form>input[name=name]{
	width:120px;
}
/* 목록 표시 부분 ---------------------------------*/
#list{
	
	overflow: auto
	
	display: inline-block;
}

#list>#title{
	background-color:#444;
	color:#fff;
	padding:2px;
}

#list span{
	display: inline-block;
}
#list span.id{width: 120px;}
#list span.name{width: 150px;}
#list span.gender{width: 100px;}
#list span.phone{width: 200px;}

#items{
	height:300px;
	padding: 2px 30px;
	overflow:scroll;
}
#items>div:last-child{
	border-bottom:2px dotted #aaa;
}

#items>.item:hover{
	background-color:#ddd;
	cursor: pointer;
}
#left{
	display: inline-block;
	vertical-align: top;
}
#right{
	display: inline-block;
	vertical-align: top;
}
#pht{
	vertical-align: top;
	display: inline-block;
}
#photo{
	width:100px;
	height:150px;
	border:2px solid #aaa;
	border-radius:7px;
	margin:0;
	padding:0;
}
#photo:hover{
	cursor:pointer;
	background-color:#ddd;
}
#photo_file{
	display:none;
}


















